/build
.vscode

# executables
testneuralnetwork
cnn
main
mlp
testtokenizer
testattention
testreader
testembedding
testselfattention
testtransformerblock

# models
models

# datasets
datasets
vocabulary.bin