/build
.vscode

# executables
testneuralnetwork
cnn
main
mlp
testtokenizer
test_tokenizer
test_embedding
test_positionalencode
test_multiheadattention
test_transformer_encoder
testattention
testreader
testembedding
testselfattention
testtransformerblock

# models
models
distilbert_local

# datasets
datasets
vocabulary.bin